<footer class="text-white mt-5 mb-0 bg-dark">
    <div class="container">
        <p class="float-right mb-0">
            <button type="button" class="btn btn-outline-primary mb-0 mt-5" onclick="document.body.scrollTop = 0; document.documentElement.scrollTop = 0;">Back to Top</button>
        </p>
        <p class="mb-0 pt-4">HY-561: Web Data Management</p>
        <p class="mb-0">Computer Science Department, University of Crete.</p>
        <p class="mb-0 pb-4">(Built with &copy;<a href="https://getbootstrap.com/">Bootstrap</a>)</p>
    </div>
</footer>