<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Specifies the character encoding for the HTML document. -->
    <meta charset="UTF-8">
    <!-- Setting the viewport to make the website look good on all devices. -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Useful Information -->
    <meta name="description" content="Error">
    <meta name="keywords" content="Error">
    <meta name="author" content="">
    <!-- Title -->
    <title>Error</title>
</head>
<body>
    <div>
        <h3>We could not find what you want</h3>
        <span>You can contact an administrator with the following message:</span>
        <b><%= message %></b>
    </div>
</body>
</html>