<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ("../public/html/head.html") %>
    <script src="/js/home.js"></script>
    <!-- Title -->
    <title>CSD UoC Linked Data</title>
</head>
<body onload="init('<%= endpoint %>')">
    <%- include ("../public/html/header.html") %>
    <main role="main">
        <section class="jumbotron text-center">
            <div class="container">
                <h1 class="jumbotron-heading">CSD UoC Linked Data</h1>
                <p class="lead text-muted">Number of triples: <span id="countTriples"></span></p>
            </div>
        </section>
        <div class="container">
            <div class="row">
                <div class="col align-items-center">
                    <p class="text-center">Main entity of ontology: <a href="/Computer_Science_Department">Computer Science Department</a></p>
                </div>
            </div>
        </div>
        <div class="album py-5 bg-light">
            <div class="container">
                <div class="row" id="queries_panel">
                    <% for(var i = 0; i < queries.length; ++i) { %>
                    <div class="col-md-4 d-flex align-items-stretch mb-5">
                        <div class="card mb-4 box-shadow">
                            <img class="card-img-top" src="<%= queries[i].image %>" alt="Card image cap">
                            <div class="card-body">
                                <p class="card-text"><b><%= i + 1 %>.</b> <%= queries[i].description %></p>
                                <% if (queries[i].category != "none") { %>
                                    <p class="card-text"><b>(<%= queries[i].category %> Query)</b></p>
                                <% } %>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="d-none" id="query<%= i %>"><%= queries[i].sparql %></div>
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-sm btn-outline-secondary" onclick="CopyToClipboard('query<%= i %>')">Copy</button>
                                        <button type="button" class="btn btn-sm btn-outline-info" onclick="RunQuery('query<%= i %>')">Execute</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <% } %>
                </div>
            </div>
    </main>
    <!-- Small modal -->
    <div class="modal fade" id="popupModal" tabindex="-1" role="dialog" aria-labelledby="popupModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="popupModalLabel"><div id="modal_title"></div></h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <div id="modal_text"></div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
    <%- include ("../public/html/footer.html") %>
</body>
</html>