<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ("../public/html/head.html") %>
    <script src="/js/triplesFetcher.js"></script>
    <!-- Title -->
    <title><%= subject %></title>
</head>
<body onload="init('<%= subject %>')">
    <%- include ("../public/html/header.html") %>
    <div class="container" id="panel">
        <!-- Title -->
        <div class="row">
            <div class="col">
                <div>
                    <h1><b>About:</b> <%= subject %></h1>
                </div>
            </div>
            <div class="col-md-auto float-right">
                <div>
                    <button type="button" class="mt-2 btn btn-outline-secondary" onClick="Stats('<%= subject %>')">
                        <span>Stats </span>
                        <svg class="bi bi-info-circle-fill" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412l-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM8 5.5a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
                        </svg>
                    </button>
                    <button type="button" class="mt-2 btn btn-outline-secondary" onClick="Describe('<%= subject %>')">
                        <span>RDF </span>
                        <svg class="bi bi-card-text" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M14.5 3h-13a.5.5 0 0 0-.5.5v9a.5.5 0 0 0 .5.5h13a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-13z"/>
                            <path fill-rule="evenodd" d="M3 5.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zM3 8a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9A.5.5 0 0 1 3 8zm0 2.5a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5z"/>
                        </svg>
                    </button>
                    <button type="button" class="mt-2 btn btn-outline-info" onClick="Visualize('<%= subject %>')">
                        <span>Visualize </span>
                        <svg class="bi bi-brush" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path d="M15.213 1.018a.572.572 0 0 1 .756.05.57.57 0 0 1 .057.746C15.085 3.082 12.044 7.107 9.6 9.55c-.71.71-1.42 1.243-1.952 1.596-.508.339-1.167.234-1.599-.197-.416-.416-.53-1.047-.212-1.543.346-.542.887-1.273 1.642-1.977 2.521-2.35 6.476-5.44 7.734-6.411z"/>
                            <path d="M7 12a2 2 0 0 1-2 2c-1 0-2 0-3.5-.5s.5-1 1-1.5 1.395-2 2.5-2a2 2 0 0 1 2 2z"/>
                        </svg>
                    </button>
                </div>
            </div>
        </div>
        <!-- Triples where entity is subject -->
        <div class="row my-4">
            <div class="col-4">
                <h3>Property</h3>
            </div>
            <div class="col">
                <h3>Object</h3>
            </div>
            <div class="w-100"></div>
        </div>
        <div class="row my-4" id="triples_subjects">
        </div>
        <div class="w-100"></div>
        <!-- Splitter -->
        <div class="my-5"></div>
        <!-- Triples where entity is object -->
        <div class="row">
            <div class="col-4">
                <h3>Property</h3>
            </div>
            <div class="col">
                <h3>Subject</h3>
            </div>
        </div>
        <div class="row" id="triples_object">
        </div>
        <div class="w-100"></div>
    </div>
    <!-- Small modal -->
    <div class="modal fade" id="popupModal" tabindex="-1" role="dialog" aria-labelledby="popupModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="popupModalLabel"><div id="modal_title"></div></h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <div id="modal_text"></div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
    <%- include ("../public/html/footer.html") %>
</body>
</html>