<!DOCTYPE html>
<html lang="en" style="height: 100%;">
<head>
    <%- include ("../public/html/head.html") %>
    <script src="/js/visualizer.js"></script>
    <script type="text/javascript" src="https://unpkg.com/vis-network/standalone/umd/vis-network.min.js"></script>
    <!-- Title -->
    <title>Visualization <%= subject %></title>
</head>
<body onload="init('<%= subject %>')" style="height: 100%;">
    <div style="width: 100%; height: 100%" id="mynetwork"></div>
</body>
</html>